In [1]:
from csv import reader

In [6]:
f=open("D:/23BCA269/sqlite3/result.csv","r")

In [7]:
csv_read=reader(f)

In [8]:
for row in csv_read:
    print(row)

['sid', 'sname', 'WD', 'Python', 'OOPS', 'IKS', 'STAT']
['1', 'Rohit', '80', '64', '85', '92', '70']
['2', 'Shreyanka', '75', '63', '87', '84', '52']
['3', 'Virat', '84', '75', '75', '52', '63']
['4', 'Smriti', '75', '65', '78', '96', '87']
['5', 'Jassi', '45', '86', '78', '94', '75']
['6', 'Harmanpreet', '65', '85', '75', '65', '89']
['7', 'Ricky', '68', '65', '45', '87', '65']
['8', 'Perry', '75', '65', '78', '65', '50']
['9', 'Chris', '45', '65', '98', '75', '60']
['10', 'Allen', '60', '70', '90', '85', '75']

In [10]:
f.close()

##  calculate Total Marks, percentage and write it into marksheet.csv file using reader and writer class.

In [11]:
f=open("D:/23BCA269/sqlite3/result.csv","r")

In [16]:
csv_read=reader(f)

In [19]:
for r in csv_read:
    total=r[2]+r[3]+r[4]+r[5]+r[6]
    per=total/5
    print("{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t{}\t".format(r[0],r[1],r[2],r[3],r[4],r[5],r[6],total,per))

TypeError: unsupported operand type(s) for /: 'str' and 'int'